// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.letter {
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: #3598DB;
  color: white;
  font-weight: bolder;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
